#wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#menu {
    background-color: green;
    height: 50px;
    line-height: 50px;
}

#menu ul {1
    margin: 0px;
}

#menu li {
    display: inline;
}

#banner {
    background-image: url("../images/happy-people.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: .5;
    height: 100%;
    width: 100%;
}

.std-padding {
    padding-left: 31px;
    padding-right: 31px;
}

.floatLeft{
    float: left;
}

.clear-fix{
    clear: both;
}

.borderThin {
    border: 1px solid black;
}
#content {
    background-color: papayawhip;
    font-family: "Helvetica", "Helvetica Neue", "SansSerif";
    width: 545px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 16px;
    line-height: 27px;
}
.centerText{
    text-align: center;
}
#sidebar {

    background-color: chocolate;
    width: 367px;
    float: left;

}

#footer {
    clear: both;
    background-color: aquamarine;
}

.box {

}
